.plans-container{
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    padding: 0 2rem;
    gap: 4rem;
    position: relative;
    margin-bottom: 1rem;
}
.plans{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-right: 50px;
    margin-left: 50px;
}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--caloryCard);
    padding: 1rem;
    color: white;
    gap: 2rem;
    border-radius: 0.25rem;
}
.plan:nth-child(2){
    background: rgba(21, 244, 136, 0.5);
    transform: scale(1.1);
}
.plan>:nth-child(2){
    font-weight: bold;
    font-size: 1rem;
}
.plan>:nth-child(3){
    font-weight: bold;
    font-size: 1.5rem;
}

.features{
    display: flex;
    flex-direction: column;
}
.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.plans-blur-1{
    width: 32rem;
    height: 20rem;
    top: 6rem;
    left: 6rem;
}
.plans-blur-2{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}
.r_btn{
    border-radius: 10px;
}
.r_btn:hover{
    background-color: black;
    color: white;
}
